@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
    background-color: #fefefe;
    color:  #453;
	font-family: 'Oswald', sans-serif;
/*    font-family: "Helvetica Neue", Arial, sans-serif;*/
    height: 100%;
	overflow-x: hidden;
}

nav img {
  border-radius: 50%;
}

table {
  color:  #353!important;*/
}

.nation {
  text-decoration: underline;
}

.hide {
    display: none;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#nation {
  text-decoration: underline;
}

#content-wrap {
  padding-bottom: 2.5rem;   
}

#newsDiv {
  font-family:  Verdana, arial, sans-serif; sans-serif;
  border-radius: 7%;
  overflow: hidden;
}

.heading {
	font-weight: 800;	
}

.newsImg {
  border-radius: 10%;
  max-height: 300px;
  height: auto !important;	
	
}

.card {
	border: none;
	width: 60%;
}


@media screen and (min-width: 702px) {
	#main {
		width: 500px!important;
	}
}

@media screen and (max-width: 700px) {
	.card {
		width: 100% !important;
	}


	
}
@-webkit-keyframes blink {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.3;
    }
}

table {
	font-size: 2em;
}

blink {
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 1s;
}

#buyCoffee {
	-webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 5s;
}

#newsLink {
	text-decoration: none;
}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
